In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("raw_data/movie_meta_data.csv", delimiter=",", index_col='title')
df.describe()

,imdbid,year,metascore,imdb user rating,number of imdb user votes
count,2.858000e+03,2858.000000,2858.000000,2858.000000,2.858000e+03
mean,1.492081e+06,1986.665150,44.815605,5.856543,1.392193e+05
std,2.459241e+06,154.879642,32.738149,2.190857,2.283760e+05
min,5.353000e+03,-1.000000,-1.000000,-1.000000,-1.000000e+00
25%,1.078522e+05,1992.000000,-1.000000,6.000000,7.400000e+03
50%,3.717350e+05,2003.000000,54.000000,6.000000,5.436900e+04
75%,1.596825e+06,2011.000000,71.000000,7.000000,1.689790e+05
max,1.352722e+07,2021.000000,100.000000,9.000000,2.312225e+06

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2858 entries, A Night at the Roxbury to You Were Never Really Here
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   imdbid                     2858 non-null   int64
 1   akas                       2652 non-null   object
 2   year                       2858 non-null   int64
 3   metascore                  2858 non-null   int64
 4   imdb user rating           2858 non-null   int64
 5   number of imdb user votes  2858 non-null   int64
 6   awards                     2243 non-null   object
 7   opening weekend            1739 non-null   object
 8   producers                  2640 non-null   object
 9   budget                     1624 non-null   object
 10  script department          2220 non-null   object
 11  production companies       2682 non-null   object
 12  writers                    2696 non-null   object
 13  directors                  2658 non-null   object
 14  casting directors          2141 non-null   object
 15  cast                       2806 non-null   object
 16  countries                  2678 non-null   object
 17  age restrict               2526 non-null   object
 18  plot                       2709 non-null   object
 19  plot outline               2457 non-null   object
 20  keywords                   2601 non-null   object
 21  genres                     2846 non-null   object
 22  taglines                   2256 non-null   object
 23  synopsis                   1852 non-null   object
dtypes: int64(5), object(19)
memory usage: 558.2+ KB

In [80]:
df[['A', 'B', 'C']] = df['genres'].str.split(', ', n=2, expand=True)

In [81]:
print(len(df['A'].unique()))

27

In [82]:
df.loc['A Few Good Men']

,imdbid,akas,year,metascore,imdb user rating,number of imdb user votes,awards,opening weekend,producers,budget,...,age restrict,plot,plot outline,keywords,genres,taglines,synopsis,A,B,C
title,,,,,,,,,,,,,,,,,,,,,
A Few Good Men,104257,"Des hommes d'honneur (France), Eine Frage der ...",1992,62,7,232737,"Oscar 1993, Golden Globe 1993, Felix 2013, Edd...",NaN,"David Brown, William S. Gilmore, Steve Nicolai...","$40,000,000 (estimated)",...,"Argentina:13, Australia:M, Brazil:10::(TV rati...",Military lawyer Lieutenant Daniel Kaffee defen...,"In this dramatic courtroom thriller, LT Daniel...","lawyer, judge, famous-line, guantanamo-bay, ho...","Drama, Thriller","In the heart of the nation's capital, in a cou...","Late one evening, at the U.S. Naval Base in Gu...",Drama,Thriller,None
A Few Good Men,849162,NaN,1991,-1,6,14,NaN,United States:,"Barry Gold, Rick Hawkins, Gerald McRaney, Earl...",NaN,...,NaN,In order to promote a better image and keep Ca...,NaN,NaN,"Comedy, Family",NaN,NaN,Comedy,Family,None